KOD DO CZYSZCZENIA MEXICO:

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

# Describe the name of CSV to be cleaned
name_of_file_to_clear = "Nizanda_just_database.xlsx"

#dataset read
df = pd.read_excel(r""+name_of_file_to_clear, index_col=0)
                 
#dropping data
df.drop(
['Source', 'Barometer - mm Hg', 'High Temp - °C', 'Low Temp - °C', 'Dew Point - °C', 'Wet Bulb - °C',  'Wind Direction', 'Wind Run - m', 'High Wind Speed - m/s', 'High Wind Direction', 'Wind Chill - °C', 'Heat Index - °C', 'THW Index - °C', 'Rain - mm', 'Rain Rate - mm/h', 'ET - mm', 'Heating Degree Days', 'Cooling Degree Days', 'InTemp', 'InHum', 'In Dew', 'InHeat', 'InEMC', 'In AirDensity', 'WindSamp', 'WindTx ', 'ISSRecept', 'Arc.Int.', 'SolarEnergy', 'HiSolarRad'], axis=1, inplace=True)

# remove None and incorrect rows from df
df.replace('None', np.nan, inplace=True)
df.dropna(inplace=True)

# preview cleaned data
display(df)

# save cleaned data to csv file called Nizanda_cleared.csv
df.to_csv(r"Nizanda_cleared.csv")

,Day,Month,Year,Hour,Minute,Temp - °C,Hum - %,Wind Speed - m/s,SolarRad
Segment,,,,,,,,,
1,5,2,2006,19,0,24.3,49.0,0.0,0.0
1,6,2,2006,23,0,29.4,37.0,1.3,799.0
1,6,2,2006,23,30,30.4,33.0,1.8,853.0
1,7,2,2006,0,0,31.1,33.0,1.3,889.0
1,7,2,2006,0,30,31.4,30.0,1.8,908.0
...,...,...,...,...,...,...,...,...,...
1,9,1,2008,4,0,23.9,83.0,1.3,0.0
1,9,1,2008,6,0,23.6,84.0,0.9,0.0
1,9,1,2008,8,0,23.6,83.0,0.9,22.0
1,9,1,2008,10,0,24.6,71.0,2.2,306.0
1,9,1,2008,12,0,26.8,60.0,2.7,732.0

DO CZYSZCZENIA BRAZIL:

In [11]:
import pandas as pd
import numpy as np
from IPython.display import display

# Describe the name of CSV to be cleaned
name_of_file_to_clear = "central_west.csv"

#dataset read
df = pd.read_csv(r""+name_of_file_to_clear, index_col=0)


# create new dataframe using only columns 7,8,12,19,20,21,16,17 
df = df.iloc[:, [6,7,8,12,19,20,21,16,17]]

# Remove rows with nans and incorrect data
df.replace('None', np.nan, inplace=True)
df.dropna(inplace=True)

# save as new csv file called central_west_cleared.csv
display(df)
df.to_csv(r"central_west_cleared.csv")

,RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),region,state,station,"VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)"
index,,,,,,,,,
138998,3391,26.5,17.7,16.5,CO,DF,PARANOA (COOPA-DF),39,9.6
138999,3306,26.6,16.7,16.0,CO,DF,PARANOA (COOPA-DF),55,8.3
139000,3167,27.3,15.8,14.5,CO,DF,PARANOA (COOPA-DF),62,8.3
139001,3279,27.5,12.9,12.9,CO,DF,PARANOA (COOPA-DF),43,6.7
139002,2753,27.5,13.7,12.4,CO,DF,PARANOA (COOPA-DF),98,6.4
...,...,...,...,...,...,...,...,...,...
138993,29,18.4,15.8,15.6,CO,DF,PARANOA (COOPA-DF),72,3.5
138994,557,20.3,16.9,15.8,CO,DF,PARANOA (COOPA-DF),69,3.5
138995,1441,21.8,16.6,16.4,CO,DF,PARANOA (COOPA-DF),83,7.6
138996,2334,23.2,17.3,16.4,CO,DF,PARANOA (COOPA-DF),59,7.6
138997,3113,25.1,17.4,16.5,CO,DF,PARANOA (COOPA-DF),50,7.0

CZYSZCZENIE PLIKU QZVIN IRAN:

In [12]:
import pandas as pd
import numpy as np
from IPython.display import display

# Describe the name of CSV to be cleaned
name_of_file_to_clear = "qzvin_hourly_data.csv"

#dataset read
df = pd.read_csv(r""+name_of_file_to_clear, index_col=0)


# create new dataframe using only columns 7,8,12,19,20,21,16,17 
#df = df.iloc[:, [6,7,8,12,19,20,21,16,17]]

# Remove rows with nans and incorrect data
#df.replace('None', np.nan, inplace=True)
#df.dropna(inplace=True)

# save as new csv file called central_west_cleared.csv
display(df)
#df.to_csv(r"central_west_cleared.csv")

,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,pressure_msl,...,direct_radiation,diffuse_radiation,direct_normal_irradiance,global_tilted_irradiance,terrestrial_radiation,shortwave_radiation_instant,diffuse_radiation_instant,direct_normal_irradiance_instant,global_tilted_irradiance_instant,terrestrial_radiation_instant
date,,,,,,,,,,,,,,,,,,,,,
1999-12-31 20:30:00+00:00,4.965500,54.579082,-3.434500,1.918004,0.0,0.0,0.0,0.0,0.0,1022.7,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1999-12-31 21:30:00+00:00,4.765500,54.118652,-3.734500,1.697024,0.0,0.0,0.0,0.0,0.0,1023.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1999-12-31 22:30:00+00:00,4.565500,53.861824,-3.984500,1.451427,0.0,0.0,0.0,0.0,0.0,1023.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1999-12-31 23:30:00+00:00,4.265500,54.388763,-4.134500,1.112651,0.0,0.0,0.0,0.0,0.0,1022.9,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2000-01-01 00:30:00+00:00,4.015500,54.320557,-4.384500,0.833469,0.0,0.0,0.0,0.0,0.0,1022.6,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-29 15:30:00+00:00,20.457000,72.320175,15.307000,19.370491,0.0,0.0,0.0,NaN,2.0,1011.7,...,0.0,1.0,0.0,1.0,11.233355,0.0,0.0,0.0,0.0,0.0
2024-08-29 16:30:00+00:00,19.857000,73.858010,15.057000,19.190334,0.0,0.0,0.0,NaN,2.0,1012.7,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2024-08-29 17:30:00+00:00,19.557001,74.283440,14.857000,18.855185,0.0,0.0,0.0,NaN,3.0,1013.1,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2024-08-29 18:30:00+00:00,19.307001,74.480835,14.657001,18.530184,0.0,0.0,0.0,NaN,2.0,1013.3,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2024-08-29 19:30:00+00:00,19.257000,71.405754,13.957001,18.625538,0.0,0.0,0.0,NaN,2.0,1013.3,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

UZYSKAJ ARCHIWALNE DANE POGODOWE DLA LOKALIZACJI

In [5]:
# get_open_meteo_archive.py
"""
Fetch hourly archival weather variables from Open-Meteo and return a pandas DataFrame.

Dependencies:
  pip install requests pandas

Function:
  get_open_meteo_archive(lat, lon, start_date, end_date, timezone='UTC')

Inputs:
  - lat: float latitude
  - lon: float longitude
  - start_date: str 'YYYY-MM-DD'
  - end_date: str   'YYYY-MM-DD'
  - timezone: optional timezone string to request (default 'UTC')

Returns:
  pandas.DataFrame indexed by UTC datetime with columns:
    temperature_2m,
    surface_pressure,
    solar_radiation,
    windspeed_10m,
    windspeed_100m,
    winddirection_10m,
    winddirection_100m,
    windgusts_10m,
    relativehumidity_2m,
    sunshine_duration,
    ghi,
    dni,
    dhi,
    gti,
    clouds_high,
    clouds_mid,
    clouds_low,
    clouds_total

Notes:
  - The Open-Meteo archive API may limit the maximum span per request. This function will chunk requests in 31-day windows.
  - Some variables may not exist for all regions or API configurations. Missing variables will be NaN.
  - If you want GTI computed for a surface tilt/azimuth, additional parameters might be required by the API; adjust accordingly.
"""

from datetime import datetime, timedelta
from typing import List, Dict, Any
import requests
import pandas as pd
import math

OPEN_METEO_ARCHIVE_ENDPOINT = "https://archive-api.open-meteo.com/v1/archive"

# Mapping of output column names -> possible Open-Meteo hourly variable names (aliases)
_OUTPUT_VAR_ALIASES: Dict[str, List[str]] = {
    "temperature_2m": ["temperature_2m"],
    "surface_pressure": ["surface_pressure"],
    # general solar / shortwave aliases
    "solar_radiation": ["shortwave_radiation", "surface_solar_radiation_downwards"],
    "windspeed_10m": ["windspeed_10m"],
    "windspeed_100m": ["windspeed_100m"],
    "winddirection_10m": ["winddirection_10m"],
    "winddirection_100m": ["winddirection_100m"],
    "windgusts_10m": ["windgusts_10m"],
    "relativehumidity_2m": ["relativehumidity_2m"],
    "sunshine_duration": ["sunshine_duration"],
    # Irradiance variables: GHI / DNI / DHI common names
    "ghi": ["ghi", "surface_solar_radiation_downwards", "shortwave_radiation"],
    "dni": ["dni", "direct_normal_irradiance", "direct_radiation"],
    "dhi": ["dhi", "diffuse_radiation"],
    # GTI (global tilted irradiance) aliases - may require tilt params on some endpoints
    "gti": ["gti", "global_tilted_irradiance"],
    # Clouds
    "clouds_high": ["cloudcover_high", "high_clouds", "clouds_high"],
    "clouds_mid": ["cloudcover_mid", "mid_clouds", "clouds_mid"],
    "clouds_low": ["cloudcover_low", "low_clouds", "clouds_low"],
    "clouds_total": ["cloudcover", "clouds", "total_clouds"],
}

def _chunk_date_ranges(start_date: datetime, end_date: datetime, max_days: int = 31):
    """
    Yield (chunk_start_date, chunk_end_date) tuples inclusive, each range <= max_days.
    """
    cur = start_date
    while cur <= end_date:
        chunk_end = min(end_date, cur + timedelta(days=max_days - 1))
        yield cur.date().isoformat(), chunk_end.date().isoformat()
        cur = chunk_end + timedelta(days=1)

def _collect_hourly_variable_list() -> List[str]:
    """Return a deduplicated list of preferred alias names to request from the API.
    Prefer the first alias for each output variable and remove duplicates preserving order.
    """
    vars_pref: List[str] = []
    for aliases in _OUTPUT_VAR_ALIASES.values():
        if not aliases:
            continue
        primary = aliases[0]
        if primary not in vars_pref:
            vars_pref.append(primary)
    return vars_pref

def get_open_meteo_archive(lat: float, lon: float, start_date: str, end_date: str, timezone: str = "UTC") -> pd.DataFrame:
    """
    Fetch hourly archival data from Open-Meteo and return a pandas DataFrame.

    Parameters:
      lat (float): latitude
      lon (float): longitude
      start_date (str): 'YYYY-MM-DD'
      end_date (str): 'YYYY-MM-DD'
      timezone (str): timezone for returned timestamps (default 'UTC')

    Returns:
      pandas.DataFrame indexed by DatetimeIndex (UTC) with the output columns specified in the module docstring.
    """
    # Validate dates
    try:
        dt_start = datetime.strptime(start_date, "%Y-%m-%d")
        dt_end = datetime.strptime(end_date, "%Y-%m-%d")
    except ValueError:
        raise ValueError("start_date and end_date must be in YYYY-MM-DD format")
    if dt_end < dt_start:
        raise ValueError("end_date must be >= start_date")

    hourly_vars = _collect_hourly_variable_list()
    hourly_param = ",".join(hourly_vars)

    frames: List[pd.DataFrame] = []

    for chunk_start, chunk_end in _chunk_date_ranges(dt_start, dt_end, max_days=31):
        params = {
            "latitude": lat,
            "longitude": lon,
            "start_date": chunk_start,
            "end_date": chunk_end,
            "hourly": hourly_param,
            "timezone": timezone
        }
        resp = requests.get(OPEN_METEO_ARCHIVE_ENDPOINT, params=params, timeout=30)
        if resp.status_code != 200:
            raise RuntimeError(f"Open-Meteo API error {resp.status_code}: {resp.text}")

        j = resp.json()
        if "hourly" not in j or "time" not in j["hourly"]:
            # If the API returns no hourly data for this chunk, skip
            continue

        hourly = j["hourly"]
        time_vals = hourly.get("time", [])
        if len(time_vals) == 0:
            continue

        df_chunk = pd.DataFrame(index=pd.to_datetime(time_vals))
        # Ensure index has timezone if requested; pandas will keep tz-aware string parse; we'll normalize to UTC at the end
        for out_col, aliases in _OUTPUT_VAR_ALIASES.items():
            # find the first alias that exists in response hourly keys
            found_series = None
            for alias in aliases:
                if alias in hourly:
                    found_series = hourly[alias]
                    break
            if found_series is not None:
                # Ensure same length as time, or pad/trim accordingly
                series = pd.Series(found_series, index=pd.to_datetime(time_vals))
                series.name = out_col
                df_chunk[out_col] = series
            else:
                # Variable not present in this API response; create NaN series
                df_chunk[out_col] = pd.Series([float("nan")] * len(time_vals), index=pd.to_datetime(time_vals))

        frames.append(df_chunk)

    if not frames:
        # no data returned
        # return empty dataframe with requested columns and index empty
        empty_idx = pd.DatetimeIndex([], dtype="datetime64[ns, UTC]")
        empty_df = pd.DataFrame(index=empty_idx, columns=list(_OUTPUT_VAR_ALIASES.keys()))
        return empty_df

    # concat and deduplicate index
    df_all = pd.concat(frames)
    # Convert index to timezone-aware UTC if not already
    try:
        # If strings included timezone info, pandas might already have tz; otherwise set tz to provided timezone and convert to UTC.
        if df_all.index.tz is None:
            # assume they were requested in 'timezone' string; localize then convert to UTC
            # if timezone was 'UTC', this will set tzinfo correctly
            df_all.index = df_all.index.tz_localize(timezone).tz_convert("UTC")
        else:
            df_all.index = df_all.index.tz_convert("UTC")
        # finally remove tz info (or keep tz-aware index — here we keep tz-aware)
    except Exception:
        # fallback: parse naive to UTC
        df_all.index = pd.to_datetime(df_all.index, utc=True)

    # sort and drop duplicates keeping first
    df_all = df_all.sort_index().loc[~df_all.index.duplicated(keep="first")]

    # Re-order columns deterministically
    ordered_cols = list(_OUTPUT_VAR_ALIASES.keys())
    for c in ordered_cols:
        if c not in df_all.columns:
            df_all[c] = float("nan")
    df_all = df_all[ordered_cols]

    # Reset name of index
    df_all.index.name = "time_utc"

    return df_all

# take input data from csv "input_for_weather_archive_download.csv" file with columns: name_of_site, latitude, longitude, start_date, end_date 
# and download weather data for each site and save every site data to separate csv file named "<name_of_site>_weather_data.csv" in folder "weather_data_downloaded/"
if __name__ == "__main__":
    input_df = pd.read_csv("input_for_weather_archive_download.csv")
    for idx, row in input_df.iterrows():
        site_name = row['name_of_site']
        lat = float(row['latitude'])
        lon = float(row['longitude'])
        start_date = row['start_date']
        end_date = row['end_date']
        
        print(f"Downloading data for site: {site_name} ({lat}, {lon}) from {start_date} to {end_date}")
        weather_df = get_open_meteo_archive(lat, lon, start_date, end_date)
        
        output_filename = f"weather_data_downloaded/{site_name}_weather_data.csv"
        weather_df.to_csv(output_filename)
        print(f"Saved data to {output_filename}")

Downloading data for site: Gdańsk (54.352, 18.6466) from 2023-01-01 to 2023-12-31

RuntimeError: Open-Meteo API error 400: {"reason":"Data corrupted at path ''. Cannot initialize SurfacePressureAndHeightVariable<VariableAndPreviousDay, ForecastPressureVariable, ForecastHeightVariable> from invalid String value temperature_2m,surface_pressure,shortwave_radiation,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,relativehumidity_2m,sunshine_duration,ghi,dni,dhi,gti,cloudcover_high,cloudcover_mid,cloudcover_low,cloudcover.","error":true}

In [ ]:
Kod do pobrania danych archiwalnych o efektywności wiatraków

In [ ]:
import requests
import pandas as pd
import urllib.parse
import time

API_KEY = "{{YOUR_API_KEY}}"
EMAIL = "karolinabudrewicz2003@gmail.com"
BASE_URL = "https://developer.nrel.gov/api/nsrdb/v2/solar/himawari-download.json?"
POINTS = [
'1281027'
]

def main():
    input_data = {
        'attributes': 'cloud_type,wind_direction,wind_speed,relative_humidity,air_temperature,surface_pressure,surface_albedo',
        'interval': '30',
        
        'api_key': API_KEY,
        'email': EMAIL,
    }
    for name in ['2020']:
        print(f"Processing name: {name}")
        for id, location_ids in enumerate(POINTS):
            input_data['names'] = [name]
            input_data['location_ids'] = location_ids
            print(f'Making request for point group {id + 1} of {len(POINTS)}...')

            if '.csv' in BASE_URL:
                url = BASE_URL + urllib.parse.urlencode(data, True)
                # Note: CSV format is only supported for single point requests
                # Suggest that you might append to a larger data frame
                data = pd.read_csv(url)
                print(f'Response data (you should replace this print statement with your processing): {data}')
                # You can use the following code to write it to a file
                # data.to_csv('SingleBigDataPoint.csv')
            else:
                headers = {
                  'x-api-key': API_KEY
                }
                data = get_response_json_and_handle_errors(requests.post(BASE_URL, input_data, headers=headers))
                download_url = data['outputs']['downloadUrl']
                # You can do with what you will the download url
                print(data['outputs']['message'])
                print(f"Data can be downloaded from this url when ready: {download_url}")

                # Delay for 1 second to prevent rate limiting
                time.sleep(1)
            print(f'Processed')


def get_response_json_and_handle_errors(response: requests.Response) -> dict:
    """Takes the given response and handles any errors, along with providing
    the resulting json

    Parameters
    ----------
    response : requests.Response
        The response object

    Returns
    -------
    dict
        The resulting json
    """
    if response.status_code != 200:
        print(f"An error has occurred with the server or the request. The request response code/status: {response.status_code} {response.reason}")
        print(f"The response body: {response.text}")
        exit(1)

    try:
        response_json = response.json()
    except:
        print(f"The response couldn't be parsed as JSON, likely an issue with the server, here is the text: {response.text}")
        exit(1)

    if len(response_json['errors']) > 0:
        errors = '\n'.join(response_json['errors'])
        print(f"The request errored out, here are the errors: {errors}")
        exit(1)
    return response_json

if __name__ == "__main__":
    main()

Clearing the dataset in csv file

In [10]:
import pandas as pd

ALLOWED_TECH = {"Mono-Si"}            # example: {"Mono-Si", "CIGS"}
ALLOWED_CONFIG = {"Fixed Roof", "Fixed Ground"}

def robust_read_csv(path, **kwargs):
    for enc in ("utf-8", "utf-8-sig", "cp1250", "cp1252", "latin-1", "iso-8859-1"):
        try:
            return pd.read_csv(path, encoding=enc, **kwargs)
        except UnicodeDecodeError:
            continue
    return pd.read_csv(path, encoding="utf-8", encoding_errors="replace", **kwargs)

def main():
    df = robust_read_csv("result.csv", sep=";")
    df["PVDAQPVTechnology"] = df["PVDAQPVTechnology"].fillna("").str.strip()
    df["PVDAQArray Configuration"] = df["PVDAQArray Configuration"].fillna("").str.strip()


    mask = df["PVDAQPVTechnology"].isin(ALLOWED_TECH) & df["PVDAQArray Configuration"].isin(ALLOWED_CONFIG)
    filtered = df.loc[mask]

    filtered.to_csv("Resluts_cleared.csv", index=False)

if __name__ == "__main__":
    main()

KeyError: 'PVDAQPVTechnology'

Deeper cleaning the csv file resluts_clearted

In [ ]:
import pandas as pd

#describe the name of CSV to be cleaned
name_of_file_to_clear = "Resluts_cleared.csv"

#dataset read
df = pd.read_csv(r""+name_of_file_to_clear, index_col=0)

#leave out from the csv file the rows Commercial - NOLA, Mercury Solar Systems - Array 5, Mercury Solar Systems - Array 4, Maui Ocean Center, Farm Solar Array from the system_public_name column
df = df[~df['system_public_name'].isin(['Commercial - NOLA', 'Mercury Solar Systems - Array 5', 'Mercury Solar Systems - Array 4', 'Maui Ocean Center', 'Farm Solar Array'])]

#save csv file to a new filled file called Proper_results_cleared.csv
df.to_csv(r"Proper_results_cleared.csv")

KeyError: 'system_public_name'